<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandwritingAccuracy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HandwritingAccuracy.Properties.Settings>
            <setting name="DBDriverId" serializeAs="String">
                <value>MySQL ODBC 5.1 Driver</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>HandwritingAccuracy</value>
            </setting>
            <setting name="DBUid" serializeAs="String">
                <value>handwriting</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>accuracy</value>
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DBOptions" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DBHost" serializeAs="String">
                <value>localhost</value>
            </setting>
        </HandwritingAccuracy.Properties.Settings>
    </userSettings>
</configuration>